.container.testimonials__container {
  width: 40%;
  padding: 4rem;
}

.client__avatar {
  aspect-ratio: 4/2;
  overflow: hidden;
  border-radius: 2rem;
  
}

.testimonial {
  background: var(--color-bg-variant) ;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  user-select: none;
}

.client__name {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}



.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary) ;
}

/* media queries for medium devices */

@media screen and (max-width:1024px) {
  .container.testimonials__container {
    width: 60%;
  }
}


/* media queries for small devices */

@media screen and (max-width:600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }

  .client__review {
    width: var(--container-width-sm);
  }
}